APP_ENV=DEV

# --- RUTAS BASE ---
BASE_SFTP_DIR=C:\SFTP_VGL

CARPETA_ENTRADA_TXT=${BASE_SFTP_DIR}\AVAL\ENTRADAS\SOLICITUDES SERVICIOS ATM
CARPETA_SALIDA_TXT=${BASE_SFTP_DIR}\VATCO\AVAL\ENTRADAS\SOLICITUDES SERVICIOS ATM
CARPETA_GESTIONADOS_TXT=${BASE_SFTP_DIR}\AVAL\ENTRADAS\SOLICITUDES SERVICIOS ATM\GESTIONADOS
CARPETA_ERRORES_TXT=${BASE_SFTP_DIR}\AVAL\ENTRADAS\SOLICITUDES SERVICIOS ATM\ERRORES

CARPETA_ENTRADA_XML=${BASE_SFTP_DIR}\AVAL\ENTRADAS\ICOREX
CARPETA_SALIDA_XML=${BASE_SFTP_DIR}\VATCO\AVAL\ENTRADAS\ICOREX
CARPETA_GESTIONADOS_XML=${BASE_SFTP_DIR}\AVAL\ENTRADAS\ICOREX\GESTIONADOS
CARPETA_ERRORES_XML=${BASE_SFTP_DIR}\AVAL\ENTRADAS\ICOREX\ERRORES

CARPETA_RESPUESTA_TXT=${BASE_SFTP_DIR}\AVAL\SALIDAS\ATH\Confirmacion_TR

# --- JWT (Conexión Frontend) ---
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_EXPIRATION_HOURS=8
VALID_FILENAME_KEYWORD=Vatco

# --- API ---
EXTERNAL_API_URL=http://api-url.com/api/
EXTERNAL_API_USER=user
EXTERNAL_API_PASSWORD=password
API_BULK_LIMIT=10