# Ambiente
APP_ENV=DEV  # DEV o PRD

# --- Credenciales SQL ---
SQL_SERVER=YOUR_DEV_SQL_SERVER
SQL_DATABASE=YOUR_DEV_SQL_DATABASE
SQL_USERNAME=YOUR_DEV_USERNAME
SQL_PASSWORD=YOUR_DEV_PASSWORD

# --- Carpetas TXT ---
CARPETA_ENTRADA_TXT=C:\RUTAS\ENTRADAS_TXT
CARPETA_SALIDA_TXT=C:\RUTAS\SALIDA_TXT
CARPETA_RESPUESTA_TXT=C:\RUTAS\SALIDAS_RESPUESTA_TXT
CARPETA_GESTIONADOS_TXT=C:\RUTAS\ENTRADAS_TXT\GESTIONADOS

# --- Carpetas XML ---
CARPETA_ENTRADA_XML=C:\RUTAS\ENTRADAS_XML
CARPETA_SALIDA_XML=C:\RUTAS\SALIDA_XML
CARPETA_GESTIONADOS_XML=C:\RUTAS\ENTRADAS_XML\GESTIONADOS
CARPETA_ERRORES_XML=C:\RUTAS\ENTRADAS_XML\ERRORES

# --- Timers ---
TIEMPO_ESPERA_MONITOREO_GENERAL=10