APP_ENV=DEV

# --- RUTAS BASE ---
BASE_SFTP_DIR=C:\SFTP_VGL

# --- JWT (Conexión Frontend) ---
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_EXPIRATION_HOURS=8
VALID_FILENAME_KEYWORD=Vatco

# --- API EXTERNA---
EXTERNAL_API_URL=http://api-url.com/api/
EXTERNAL_API_USER=user
EXTERNAL_API_PASSWORD=password
API_BULK_LIMIT=10